auto-install-peers = true
shamefully-hoist = true
update-notifier = false

state-dir = /directus/packages/state
cache-dir = /directus/packages/cache
store-dir = /directus/packages/store

loglevel = error

# workspace-concurrency = 1
# child-concurrency = 1
unsafe-perm = true
