auto-install-peers = true
shamefully-hoist = true
update-notifier = false

global-dir = /directus/extensions/.packages/share/pnpm/global
global-bin-dir = /directus/extensions/.packages/share/pnpm
state-dir = /directus/extensions/.packages/state/pnpm
cache-dir = /directus/extensions/.packages/cache
store-dir = /directus/extensions/.packages/store

loglevel = error
