name: Update Check

on:
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

jobs:
  update-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20.x"
      - name: Enable PNPM
        run: corepack enable pnpm
      - name: Install dependencies
        run: pnpm install
      - id: version
        name: Fetch versions
        run: pnpm run build:version
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
        with:
          title: Add missing versions (${{ steps.version.outputs.versions_inline }})
          committer: Black Rabbit <br@linefusion.io>
          commit-message: "adds missing versions - ${{ steps.version.outputs.versions_inline }}"
          body: |
            # Automatic Update Check

            This PR adds missing Directus versions to versions.json file.

            ## Versions

            ${{ steps.version.outputs.versions_markdown }}
          branch: automation/autoupdate
          delete-branch: true
          assignees: hermesalvesbr,wolfulus
